<footer>
    <div class="container pt-5 pb-3">
        <div class="row">
            <div class="col">
                <h2 class="h4 mb-4">Navegue</h4>
                <nav id="nav-footer">
                    <ul>
                        <li>
                            <a href="/">Página Inicial</a>
                        </li>
                        <li>
                            <a href="/aplicacao">Solicitar Autorização Eletrônica de Viagem</a>
                        </li>
                        <li>
                            <a href="/acompanhar-solicitacao">Acompanhar Autorização Eletrônica de Viagem</a>
                        </li>
                        <li>
                            <a href="/contato">Contato</a>
                        </li>
                        <li>
                            <a href="/politica-privacidade">Política de privacidade</a>
                        </li>
                        <li>
                            <a href="/termos-condicoes">Termos e Condições</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col">
                <h2 class="h4 mb-4">Redes sociais</h2>
                <nav class="mb-4" id="nav-social">
                    <a href="https://facebook.com" target="_blank">
                        <img src="/img/icone-facebook.svg" alt="Facebook logotipo">
                        <span>Facebook</span>
                    </a>
                    <a href="https://instagram.com" target="_blank">
                        <img src="/img/icone-instagram.svg" alt="Instagram logotipo">
                        <span href="/">Instagram</span>
                    </a>
                </nav>
            </div>
        </div>
        <div class="wrapper-selos">
            <div class="selos">
                <img src="/img/selo-siteseguro.webp" alt="Site Seguro - Google" id="google">
                <img src="/img/mercadopago-logo.webp" alt="Loogotipo - Mercado Pago" id="mercadopago">
            </div>
        </div>
        
        <p class="ilha-bonaire">Se você planeja visitar a ilha de Bonaire, considere o Imposto Bonaire Tourism Tax.</p>
    </div>
    <div class="container py-3" id="after-footer">
        <p>Todos os direitos reservados à<br>eTA Canadense @ 2023.</p>
        <p>Criado e desenvolvido por <a href="https://gvfwebdesign.com.br">Dev Gustavo</a></p>
    </div>
</footer>