<footer>
    <div class="container pt-5 pb-3">
        <div class="row">
            <div class="col">
                <h4 class="mb-4">Navegue</h4>
                <nav id="nav-footer">
                    <ul>
                        <li>
                            <a href="/">Página Inicial</a>
                        </li>
                        <li>
                            <a href="/acompanhar-solicitacao">Acompanhar Autorização Eletrônica de Viagem</a>
                        </li>
                        <li>
                            <a href="/aplicacao?etapa=1">Solicitar Autorização Eletrônica de Viagem</a>
                        </li>
                        <li>
                            <a href="/contato">Contato</a>
                        </li>
                        <li>
                            <a href="/politica-privacidade">Política de privacidade</a>
                        </li>
                        <li>
                            <a href="/termos-condicoes">Termos e Condições</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col">
                <h4 class="mb-4">Redes sociais</h4>
                <nav class="mb-4" id="nav-social">
                    <div>
                        <img src="/img/icone-facebook.svg" alt="">
                        <a href="/">Facebook</a>
                    </div>
                    <div>
                        <img src="/img/icone-instagram.svg" alt="">
                        <a href="/">Instagram</a>
                    </div>
                    <div>
                        <img src="/img/icone-tiktok.svg" alt="">
                        <a href="/">Tik Tok</a>
                    </div>
                    <div>
                        <img src="/img/icone-twitter.svg" alt="">
                        <a href="/">Twitter</a>
                    </div>
                </nav>
            </div>
        </div>
        <div>
            <div class="selos">
                <img src="/img/selo-siteseguro.webp" alt="Site Seguro - Google" id="google">
                <div>
                    <img src="/img/mercadopago-logo.webp" alt="Loogotipo - Mercado Pago" id="mercadopago">
                    <img src="/img/selo_mercadopago.webp" alt="Bandeiras - Mercado Pago" id="bandeiras">
                </div>
            </div>
        </div>
        
        <p>Se você planeja visitar a ilha de Bonaire, considere o Imposto Bonaire Tourism Tax.</p>
    </div>
    <div class="container py-3" id="after-footer">
        <p>Todos os direitos reservados à<br>eTA Canadense @ 2023.</p>
        <p>Criado e desenvolvido por <a href="https://gvfwebdesign.com.br">Dev Gustavo</a></p>
    </div>
</footer>