<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    </head>
    <body style="width: 100%; background-color: #e3e3e3;">
        <header style="width: 100%; padding: 2rem 0; background-color: #333;">
            <table style="width: 100%;">
                <tbody>
                    <td style="width: 100%;" align="center">
                        <a href="https://advogadoszr.com">
                            <img src="https://advogadoszr.com/wp-content/uploads/2023/01/logo_name-white.png" style="width: 12rem;" alt="Advogados ZR">
                        </a>
                    </td>
                </tbody>
            </table>
        </header>

        <main style="width: 100%;">
            <section style=" width: 85%; margin: 0 auto; padding: 2rem .5rem; background-color: #FFF; border-radius: .2rem .2rem 0 0; z-index: 100;">
                <p>{{menssagem}}</p>
            </section>

            <section style="overflow-wrap: break-word; word-wrap: break-word; width: 85%; margin: 0 auto; padding: 2rem .5rem; background-color: #333; border-radius: 0 0 .2rem .2rem;">
                <article style="width: 100%; padding: 1rem 2rem;">
                    <h3 style="margin: 0 0 2rem 0; color: #FFF">Fique atualizado através das nossas redes sociais</h3>
                    <table style="width: 100%;">
                        <thead align="center">
                            <th style="width: 33.33%;" align="right">
                                <a href="https://www.facebook.com/zradv">
                                    <img src="https://advogadoszr.com/wp-content/uploads/2023/02/facebook1.png" style="width: 3rem;" alt="Facebook logo">
                                </a>
                            </th>
                            <th style="width: 33.33%;" align="center">
                                <a href="https://instagram.com/advogadoszr">
                                    <img src="https://advogadoszr.com/wp-content/uploads/2023/01/instagram.png" style="width: 3rem;" alt="Instagram logo">
                                </a>
                            </th>
                            <th style="width: 33.33%;" align="left">
                                <a href="https://www.linkedin.com/company/advogadoszr/">
                                    <img src="https://advogadoszr.com/wp-content/uploads/2023/01/linkedin.png" style="width: 3rem;" alt="LinkedIn logo">
                                </a>
                            </th>
                        </thead>
                    </table>
                </article>
            </section>

            <section style="width: 85%; margin: 2rem auto 0; padding: 2rem .5rem; background-color: #FFF; border-radius: .2rem;">
                <div>
                    <p style=" margin: 0; text-align: center;">Precisa de ajuda?</p>
                    <p style="text-align: center;"><a href="mailto:info@advogadoszr.com" style="color: #e42828;">Fale conosco</a></p>
                </div>
            </section>
        </main>
        
        <footer style="width: 100%; margin: 2rem 0; padding: 1.5rem 0;">
            <section style="width: 85%; margin: 0 auto; padding: 1rem .5rem;">
                <table style="width: 100%;">
                    <tbody>
                        <td style="width: 100%;" align="center">
                            <a href="https://advogadoszr.com">
                                <img src="https://advogadoszr.com/wp-content/uploads/2023/01/logo_name-black.png" style="width: 12rem;" alt="Advogados ZR">
                            </a>
                        </td>
                    </tbody>
                </table>
            </section>
        </footer>
    </body>
</html>








