<main style="flex: 1 1 0">
    <section class="section-1 full-width py-5">
        <div class="container w-100 d-flex align-center flex-column py-3">
            <h1 class="mb-4 text-center h2">CERTIFICADO CADASTUR</h1>
            <img src="./img/certificado-cadastur.webp" class="w-75 align-center" style="margin: 0 auto;" alt="">
        </div>
    </section>
</main>