<main style="flex: 1 1 0">
    <section class="section-1 full-width py-5">
        <div class="container py-3">
            <div class="row">
                <div class="col-md-8 pe-5 mb-5">
                    <h2>Entre em contato conosco</h2>
                    <form action="#" method="post">
                        <div class="form-group">
                            <label for="name">Nome:</label>
                            <input type="text" class="form-control mt-2 mb-4" id="name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="email">E-mail:</label>
                            <input type="email" class="form-control mt-2 mb-4" id="email" name="email" required>
                        </div>
                            <div class="form-group">
                            <label for="message">Mensagem:</label>
                            <textarea class="form-control mt-2" id="message" name="message" rows="5" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Enviar</button>
                    </form>
                </div>
                <div class="col-md-4">
                    <h2>Nossos contatos</h2>
                    <p>Telefone: (11) 1234-5678</p>
                    <p>E-mail: contato@etacanadense.com.br</p>
                    <p>Endereço: Rua Exemplo, 123 - São Paulo/SP</p>
                </div>
            </div>
        </div>
    </section>
</main>