<main class="my-4" style="flex: 1 1 0">
    <section class="sections section-1 full-width">
        <h1>Início</h1>
        <a href="/aplicacao?etapa=1">APLICAR VISTO CANADENSE</a>
    </section>
</main>