<main style="flex: 1 1 0">
    <section class="section-1 full-width">
        <div class="container py-5">
            <h1>eTA Canadense</h1>
            <p>Autorização de Viagem ao Canadá</p>
            <a href="/aplicacao" type="button" class="btn btn-lg btn-light text-uppercase fw-bold px-3 py-2">Solicitar agora</a>
        </div>
    </section>

    <section class="section-2 full-width py-3">
        <div class="container py-5">
            <h2 class="w-100 mb-4">O que é essa autorização?</h2>
            <ul class="w-100">
                <li>
                    <p>O eTA (Eletronic Travel Authorization) é um documento eletrônico exigido para viajantes elegíveis que desejam entrar no Canadá por via aérea.</p>
                </li>
                <li>
                    <p>O eTA é obrigatório para cidadãos de países isentos de visto, como o Brasil, que estão viajando para o Canadá por turismo, negócios ou trânsito.</p>
                </li>
                <li>
                    <p>O eTA é válido por até cinco anos ou até que o passaporte do viajante expire, o que ocorrer primeiro.</p>
                </li>
                <li>
                    <p>O processo de solicitação do eTA é realizado on-line e geralmente leva apenas alguns minutos.</p>
                </li>
                <li>
                    <p>É importante lembrar que o eTA não garante a entrada no Canadá, pois isso ainda depende da decisão do oficial de imigração na fronteira.</p>
                </li>
            </ul>
            <a type="button" href="/aplicacao" class="btn btn-success text-uppercase fw-bold px-3 py-2">Preencher Solicitação</a>
        </div>
    </section>

    <section class="section-3 full-width py-3">
        <div class="container py-5">
            <h2 class="w-100">Passo a passo</h2>
            <p class="w-100">Ao viajar de avião para o Canadá, seja a lazer ou negócios, você deve solicitar uma autorização de viagem (eTA). <br>Confira abaixo o passo a passo simples para você garantir a sua autorização. </p>
            <ul>
                <li>
                    <img src="./img/icone-formulario.svg" width="64px" height="64px"  alt="Campo de formulário">
                    <div>
                        <h3 class="h5">Preencha o formulário</h3>
                        <p>Informe seus dados de viagem para solicitar a Autorização.</p>
                    </div>
                </li>
                <li>
                    <img src="./img/icone-pagamento.svg" width="64px" height="64px" alt="Carteira">
                    <div>
                        <h3 class="h5">Realize o pagamento</h3>
                        <p>Faça o pagamento de R$ 147,00 em um ambiente totalmente <b>SEGURO</b> para finalizar a solicitação.</p>
                    </div>
                </li>
                <li>
                    <img src="./img/icone-receber.svg" width="64px" height="64px" alt="Avião">
                    <div>
                        <h3 class="h5">Receba seu eTA</h3>
                        <p>Após aprovado, receba seu documento de viagem no e-mail informado no formulário, em até 24 horas.</p>
                    </div>
                </li>
            </ul>
            <a href="/aplicacao" class="btn btn-success my-3 text-uppercase fw-bold px-3 py-2">Solicitar agora</a>
        </div>
    </section>

    <section class="section-4 full-width py-3">
        <div class="container py-5">
            <h2 class="w-100 mb-4">Países que necessitam emitir a Autorização Eletrônica de Viagem (eTA)</h2>
            <div class="row" id="countryAll">
                <div class="card col-5 mx-3 py-3">
                    <h3 class="text-center mb-3">Europa</h3>
                    <div class="row">
                        <div class="col">
                            <p>Alemanha</p>
                            <p>Andorra</p>
                            <p>Áustria</p>
                            <p>Bélgica</p>
                            <p>Croácia</p>
                            <p>Chipre</p>
                            <p>Dinamarca</p>
                            <p>Eslováquia</p>
                            <p>Eslovênia</p>
                            <p>Espanha</p>
                        </div>
                        <div class="col">
                            <p>Estônia</p>
                            <p>Finlândia</p>
                            <p>França</p>
                            <p>Grécia</p>
                            <p>Holanda</p>
                            <p>Hungria</p>
                            <p>Islândia</p>
                            <p>Irlanda</p>
                            <p>Itália</p>
                            <p>Letônia</p>
                        </div>
                        <div class="col">
                            <p>Liechtenstein</p>
                            <p>Lituânia</p>
                            <p>Luxemburgo</p>
                            <p>Mônaco</p>
                            <p>Noruega</p>
                            <p>Polônia</p>
                            <p>Portugal</p>
                            <p>República Checa</p>
                            <p>São Marino</p>
                            <p>Suécia</p>
                            <p>Suíça</p>
                        </div>
                    </div>
                </div>
                <div class="card col mx-3 py-3">
                    <h3 class="mb-3">América do Sul</h3>
                    <div>
                        <p>Brasil <span class="mx-2"><img src="./img/bandeira-do-brasil.webp" width="24px" height="24px" loading="lazy" alt="Bandeira do brasil"></span></p>
                        <p>Chile</p>
                    </div>

                    <h3 class="my-3">América Central</h3>
                    <div>
                        <p>Antigua e Barbuda</p>
                        <p>Bahamas</p>
                        <p>Barbados</p>
                    </div>
                </div>
                <div class="card col mx-3 py-3">
                    <h3 class="mb-3">Ásia</h3>
                    <div>
                        <p>Brunei</p>
                        <p>Coréia do Sul</p>
                        <p>Japão</p>
                        <p>Singapura</p>
                    </div>
                    
                    <h3 class="my-3">Oceania</h3>
                    <div>
                        <p>Austrália</p>
                        <p>Ilhas Salomão</p>
                        <p>Nova Zelândia</p>
                        <p>Papua Nova Guiné</p>
                        <p>Samoa</p>
                    </div>
                </div>
            </div>
            <div style="display: none" id="countryAccordion">
                <dl class="js-accordion w-100">
                    <dt>América do Sul</dt>
                    <dd>
                        <p>Brasil <span class="mx-2"><img src="./img/bandeira-do-brasil.webp" width="24px" height="24px" loading="lazy" alt="Bandeira do brasil"></span></p>
                        <p>Chile</p>
                    </dd>

                    <dt>Europa</dt>
                    <dd class="europe">
                        <p>Alemanha</p>
                        <p>Andorra</p>
                        <p>Áustria</p>
                        <p>Bélgica</p>
                        <p>Croácia</p>
                        <p>Chipre</p>
                        <p>Dinamarca</p>
                        <p>Eslováquia</p>
                        <p>Eslovênia</p>
                        <p>Espanha</p>
                        <p>Estônia</p>
                        <p>Finlândia</p>
                        <p>França</p>
                        <p>Grécia</p>
                        <p>Holanda</p>
                        <p>Hungria</p>
                        <p>Islândia</p>
                        <p>Irlanda</p>
                        <p>Itália</p>
                        <p>Letônia</p>
                        <p>Liechtenstein</p>
                        <p>Lituânia</p>
                        <p>Luxemburgo</p>
                        <p>Mônaco</p>
                        <p>Noruega</p>
                        <p>Polônia</p>
                        <p>Portugal</p>
                        <p>República Checa</p>
                        <p>São Marino</p>
                        <p>Suécia</p>
                        <p>Suíça</p>
                    </dd>
                    
                    <dt>Ásia</dt>
                    <dd>
                        <p>Brunei</p>
                        <p>Coréia do Sul</p>
                        <p>Japão</p>
                        <p>Singapura</p>
                    </dd>
                    
                    <dt>Oceania</dt>
                    <dd>
                        <p>Austrália</p>
                        <p>Ilhas Salomão</p>
                        <p>Nova Zelândia</p>
                        <p>Papua Nova Guiné</p>
                        <p>Samoa</p>
                    </dd>

                    <dt>América Central</dt>
                    <dd>
                        <p>Antigua e Barbuda</p>
                        <p>Bahamas</p>
                        <p>Barbados</p>
                    </dd>
                </dl>
            </div>
        </div>
    </section>

    <section class="section-5 full-width py-3">
        <div class="container py-5">
            <h2 class="w-100 mb-4 text-center">Dúvidas frequentes</h2>
            <dl class="js-accordion2 w-md-75">
                <dt>Por que eu preciso desse serviço?</dt>
                <dd>Porque o nosso site disponibiliza um formulário acessível e de fácil preenchimento, em português. Você navegará de forma intuitiva e encontrará, em um só lugar, todas as informações claras sobre requisitos e documentação necessários para a aplicação do seu eTA Canadense. Em 99% dos casos, nossos clientes têm a sua autorização emitida em menos de 48 horas. Além disso, garantimos a segurança dos seus dados pessoais e informações financeiras.</dd>
                
                <dt>Meus dados (nome, documentos, e-mail e cartão de crédito) estão seguros?</dt>
                <dd>Sim, seus dados estão 100% seguros. Todo o processamento de nossos pagamentos é efetuado pelo Mercado Pago, em uma transação criptografada. Nenhuma informação referente ao seu cartão de crédito é mantida em nosso banco de dados. Além disso, somos totalmente contra spam e quaisquer práticas de violação de privacidade.</dd>
                
                <dt>Quais formas de pagamento são aceitas?</dt>
                <dd>Nossos pagamentos são processados através do Mercado Pago, e você pode efetuar o pagamento utilizando cartão de crédito e PIX.</dd>
            </dl>
            <a href="/aplicacao" class="btn btn-success my-3 text-uppercase fw-bold px-3 py-2">Ir para solicitação</a>
        </div>
    </section>

</main>
<link rel="stylesheet" rel="preload" fetchpriority="high"  href="./css/index.css">
<script>
  function initAccordion() {
    const accordionList = document.querySelectorAll('.js-accordion dt')
    const activeClass = 'ativo'
    
    if(accordionList.length) {
      accordionList[0].classList.add(activeClass)
      accordionList[0].nextElementSibling.classList.add(activeClass)

      function activeAccordion() {
        this.classList.toggle(activeClass)
        this.nextElementSibling.classList.toggle(activeClass)
      }

      accordionList.forEach((item) => {
        item.addEventListener('click', activeAccordion)
      })
    }
  }

  function initAccordion2() {
    const accordionList = document.querySelectorAll('.js-accordion2 dt')
    const activeClass = 'ativo'
    
    if(accordionList.length) {
      accordionList[0].classList.add(activeClass)
      accordionList[0].nextElementSibling.classList.add(activeClass)

      function activeAccordion() {
        this.classList.toggle(activeClass)
        this.nextElementSibling.classList.toggle(activeClass)
      }

      accordionList.forEach((item) => {
        item.addEventListener('click', activeAccordion)
      })
    }
  }
  
  initAccordion()
  initAccordion2()
</script>
