<main>
    <section class="section-1 full-width py-5">
        <div class="container py-3">
            <h1>Política de Privacidade</h1>
            <p>A sua privacidade é importante para nós. É política do nosso site respeitar a sua privacidade em relação a qualquer informação sua que possamos coletar no site.</p>
            <hr>
            <h2>Coleta e Uso de Informações</h2>
            <p>Coletamos apenas as informações pessoais necessárias para fornecer serviços ao usuário. Essas informações podem incluir seu nome, endereço de e-mail, número de telefone e informações de pagamento.</p>
            <p>Usamos essas informações para fornecer serviços solicitados e para fins de faturamento e comunicação com o usuário. Não compartilhamos essas informações com terceiros, exceto quando exigido por lei.</p>
            <hr>
            <h2>Cookies e Tecnologias Semelhantes</h2>
            <p>Usamos cookies e outras tecnologias semelhantes para melhorar a sua experiência no nosso site e para coletar informações sobre o uso do site.</p>
            <p>Você pode configurar seu navegador para recusar todos os cookies ou para indicar quando um cookie está sendo enviado. No entanto, algumas partes do nosso site podem não funcionar corretamente se os cookies estiverem desativados.</p>
            <hr>
            <h2>Links Para Sites de Terceiros</h2>
            <p>O nosso site pode conter links para sites de terceiros. Não somos responsáveis pelas práticas de privacidade ou conteúdo desses sites de terceiros.</p>
            <hr>
            <h2>Alterações na Política de Privacidade</h2>
            <p>Reservamos o direito de atualizar esta política de privacidade a qualquer momento. Recomendamos que você revise esta política com frequência para se manter informado sobre como estamos protegendo suas informações.</p>
            <hr>
            <h2>Contato</h2>
            <p>Se você tiver dúvidas sobre esta política de privacidade, entre em contato conosco pelo endereço de e-mail fornecido no site.</p>
        </div>
    </section>
</main>