<main class="container py-5" style="flex: 1 1 0">
  <h1>Teste GTM</h1>
</main>
<script>
  const purchaseID = "{{purchaseID}}"

  window.dataLayer = window.dataLayer || []
  window.dataLayer.push({
    'event': 'purchase',
    'transactionId': `${purchaseID}`, 
    'transactionTotal': 297,
    'transactionProduct': {
    'name': 'Solicitação eTA Canadense', 
    'price': 147, 
    'quantity': 2
    }
  })
</script>