<main class="container">
  <h1>Teste GTM</h1>
</main>
<script>
  window.dataLayer = window.dataLayer || []
  window.dataLayer.push({
    'event': 'purchase',
    'transactionId': '12345', 
    'transactionTotal': 297,
    'transactionProduct': {
      'name': 'Solicitação eTA Canadense', 
      'price': 147, 
      'quantity': 2
    }
  })
</script>