footer {
    background-color: #17233D;

    color: #FFF;
}

footer .container .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

footer .container .row .col nav ul {
    padding: 0;

    list-style: none;
}

footer .container .row .col nav ul li {
    margin-bottom: .75rem;
}

footer .container .row .col nav ul li a {
    color: #FFF;
}

footer .container .row .col #nav-social {
    display: flex;
    flex-wrap: wrap;
}

footer .container .row .col #nav-social div {
    margin-bottom: 1.2rem;

    width: 48% !important;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem
}

footer .container .row .col #nav-social div a {
    color: #FFF;
    width: 72px;
}
footer .selos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    margin-bottom: 3rem
}

footer .selos #google {
    height: 91.4px;
    width: auto;
}

footer .selos div {
    background-color: #FFF;

    padding: 1rem 1.5rem;

    border-radius: 5px;

    display: flex;
    flex-direction: column;
}

footer .selos div img {
    width: 180px;
}

footer #after-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-top: 2px solid #FFF;
}

footer #after-footer p {
    text-align: center;
    margin-bottom: .5rem !important;
}

footer #after-footer a {
    color: #7EA6BC;
}

@media(min-width: 992px) {
    footer .container .row {
        display: flex;
        align-items: start;
        flex-direction: row;
    }

    footer .container p {
        text-align: center;
    }

    footer .container .row .col #nav-social {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    footer .container .row .col #nav-social div {
        justify-content: start;
    }
}