<link rel="stylesheet" href="/css/checkout.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://sdk.mercadopago.com/js/v2"></script>
<main>
    <section class="container py-5">
        <div class="card py-5">
            <div class="container__payment container mt-5">
                <div class="block-heading">
                    <h2>Pagamento via PIX</h2>
                </div>
                <div class="form-payment">
                    <div class="payment-details">
                        <form id="form-checkout">
                            <input id="mercado-pago-public-key" value="{{mercadoPagoPublicKey}}" type="hidden" />
                            <h3 class="title">Detalhes do comprador</h3>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <input id="form-checkout__payerFirstName" name="name" type="text" class="form-control mb-2" placeholder="Primeiro nome" autofocus>
                                </div>
                                <div class="form-group col-sm-6">
                                    <input id="form-checkout__payerLastName" name="lastName" type="text" class="form-control mb-2" placeholder="Último Sobrenome">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col">
                                    <input id="form-checkout__payerEmail" name="email" type="email" class="form-control mb-2" placeholder="E-mail">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-5">
                                    <select id="form-checkout__identificationType" name="identificationType" class="form-select mb-2">
                                        <option value="CPF">CPF</option>
                                        <option value="CNPJ">CNPJ</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-7">
                                    <input id="form-checkout__identificationNumber" name="identificationNumber" type="text" class="form-control mb-2" placeholder="Número do documento">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <input type="hidden" id="amount" />
                                    <input type="hidden" id="description" />
                                    <br>
                                    <button id="form-checkout__submit" type="submit" class="btn btn-primary btn-block">Pagar via PIX</button>
                                    <br>
                                    <p id="loading-message">Efetuando pagmento. Aguarde, não saia e nem recarregue a página.</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="container container__result">
                <div class="block-heading">
                    <h2>Resultado de pagamento</h2>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="items product info product-details">
                                <div class="row justify-content-md-center">
                                    <div class="col-md-4 product-detail">
                                        <div class="product-info">
                                            <div id="fail-response">
                                                <br/>
                                                <img src="img/fail.png" width="350px">
                                                <p class="text-center font-weight-bold">Ocorreu um erro ao processar o pagamento</p>
                                                <p id="error-message" class="text-center"></p>
                                                <br/>
                                            </div>

                                            <div id="success-response">
                                                <br/>
                                                <p><b>ID: </b><span id="payment-id"></span></p>
                                                <p><b>Status: </b><span id="payment-status"></span></p>
                                                <p><b>Detail: </b><span id="payment-detail"></span></p>
                                                <br/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="pix-code-section" class="container text-center m-4">
                    <p>Escaneie o QR Code a seguir para efetuar o pagamento: </p>
                    <img src="" id="qr-code-image" width="250px">
                    <p class="m-3">Ou você pode copiar e colar o código:</p>
                    <p id="pix-code" style="font-size: 14px;"></p>
                </div>
            </div>
        </div>
    </section>
</main>

<script>
    window.omload = () => {
        const mercadopago = new MercadoPago('TEST-96adb56a-9ef9-415a-bb5a-1e21fdf7a45e')
    
        document.getElementById("form-checkout").addEventListener("submit", function(e) {
            e.preventDefault()
            sendPayment()
        });

        function sendPayment() {
            const payerFirstName = document.getElementById("form-checkout__payerFirstName").value
            const payerLastName = document.getElementById("form-checkout__payerLastName").value
            const payerEmail = document.getElementById("form-checkout__payerEmail").value

            const identificationType = document.getElementById("form-checkout__identificationType").value
            const identificationNumber = document.getElementById("form-checkout__identificationNumber").value
            
            document.getElementById("loading-message").style.display = "block"

            fetch("/process_payment_pix", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    transactionAmount: 99.00,
                    description: 'Solicitação de Autorização de Viagem - Canadá',
                    payer: {
                        firstName: payerFirstName,
                        lastName: payerLastName,
                        email: payerEmail,
                        identification: {
                            type: identificationType,
                            number: identificationNumber,
                        }
                    },
                }),
            }).then((response) => {
                return response.json()
            }).then((result) => {
                if(!result.hasOwnProperty("error_message")) {
                    document.getElementById("payment-id").innerText = result.id
                    document.getElementById("payment-status").innerText = result.status
                    document.getElementById("payment-detail").innerText = result.detail
                    document.getElementById("qr-code-image").src = `data:image/jpeg;base64,${result.qrCodeBase64}`
                    document.getElementById("pix-code").innerText = result.qrCode

                    document.getElementById("success-response").style.display = "block"
                    document.getElementById("pix-code-section").style.display = "block"
                } else {
                    document.getElementById("error-message").innerText = result.error_message
                    document.getElementById("fail-response").style.display = "block"
                }

                $('.container__payment').fadeOut(500)
                setTimeout(() => {
                    $('.container__result').show(500).fadeIn()
                }, 500)
            }).catch((error) => {
                alert("Unexpected error teste\n" + JSON.stringify(error))
            })
        }
    }
    
</script>