<main>
    <section class="section-1 full-width py-5">
        <div class="container py-3">
            <div class="container container__result">
                <div class="block-heading">
                    <h2>Resultado de pagamento</h2>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="items product info product-details">
                                <div class="row justify-content-md-center">
                                    <div class="col-md-4 product-detail">
                                        <div class="product-info">
                                            <div id="fail-response">
                                                <br/>
                                                <p class="text-center font-weight-bold">Something went wrong</p>
                                                <p id="error-message" class="text-center"></p>
                                                <br/>
                                            </div>

                                            <div class="container" id="success-response">
                                                <br/>
                                                <p><b>ID: </b><span id="payment-id"></span></p>
                                                <p><b>Status: </b><span id="payment-status"></span></p>
                                                <p><b>Detail: </b><span id="payment-detail"></span></p>
                                                <br/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>